<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina principal</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Termos de TI</h1>
      </div>

      <div class="nav-links">
        <a href="/" class="nav-link active">Home</a>
        <a href="/desempenho" class="nav-link">Tecnologias do TSI</a>
        <a href="/fora-do-tsi" class="nav-link">Fora do TSI</a>
      </div>
    </div>
  </body>
</html>
